<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ServerConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;"/>

		<add name="ConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=Drinks;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>
